{% extends 'base.html.twig' %}

{% block title %}Livraison index{% endblock %}

{% block body %}


    <H1>Livraison </H1>


<button style="background-color: #8B00FF; color: white; padding: 10px 20px; border: none; border-radius: 4px;">
  <a href="{{ path('app_livraison_new') }}" style="text-decoration: none; color: white;">Create new</a>
</button>



    </div>
  </div>
{% endblock %}
