{% extends 'base.html.twig' %}

{% block title %}Edit Participants{% endblock %}

{% block body %}
    <h1>Edit Participants</h1>

    {{ include('participants_back/_form.html.twig', {'button_label': 'Update'}) }}

    <a href="{{ path('app_participants_back_index') }}">back to list</a>

    {{ include('participants_back/_delete_form.html.twig') }}
{% endblock %}
