{% extends 'base.html.twig' %}

{% block title %}New Participants{% endblock %}

{% block body %}
    <h1>Create new Participants</h1>

    {{ include('participants_back/_form.html.twig') }}

    <a href="{{ path('app_participants_back_index') }}">back to list</a>
{% endblock %}
